
body{
	background-color: #003658;
}
.container{
	width: 945px;
}
.header{
	margin-top: 10px;
	background: linear-gradient(to bottom, #5e95b2 0%,#3c83a8 50%,#005d8d 100%);
	border: 2px solid #005d8d;
	border-bottom: none;
	border-radius: 10px;
}
.topTxt{
	text-align: right;
}
.address{
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: right;
	line-height: 1.5;
}
.topnavbg{
	margin-bottom: 4px;
}
.topnavbar{
	border-radius: 8px;
	box-shadow: inset 0 0 12px #004162;
	font-size: 12px;
}
.topnavbar a:hover{
	color: #cd9350;
}
.topnavbar ul{
	margin: 0px;
	padding: 0;
	list-style-type: none;
	font-weight: bold;
	display: block;
}
.topnavbar li{
	padding: 6px 21px 6px;
	background: url(../images/topnavspacer.jpg) right center no-repeat;
	float: left;
}
.topnavbar li a {
	color: #ffffff;
	text-decoration: none;
}
.topnavbar li:last-child {
	background: none;
}
.navbg{
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #cd9350;
	border-radius: 8px;
	background: url(../images/navShadow.jpg) center center no-repeat #cd9350;
}
.navigation{
	border-radius: 8px;
	margin: 0 auto;
	max-width: 728px;
	min-height: inherit;
	background: url(../images/navBar.jpg) 0 0 repeat-x;
	box-shadow: inset 0 0 10px #895215;
}
.navigation ul{
	margin: 0px;
	list-style-type: none;
	font-weight: bold;
}
.navigation ul li{
	text-align: center;
	float: left;
}
.navigation li a{
	color: #ffffff;
	background: url(../images/navspacer.jpg) right center no-repeat;
	padding: 6px 24px 4px;
	display: block;
	float: left;
	text-decoration: none;
}
.navigation a:hover{
	color: gray;
}
.navigation li:last-child>a {
  background: none;
}
.pageContent{
	background: #00263d;
	border-radius: 10px;
	padding: 10px;
}
.centerTxt p{
	padding-top: 5px;
	margin: 0 10px 10px;
	color: #fff;
	font-size: 12px;
}
.centerTxt ul{
	color: #fff;
}

.rightbtn a.intspecial{
	padding-left: 17px,8,8,8;
	background-position: 113px 12px;

}
.rightbtn a.financing{
	padding-left: 17px,8,8,8;
	background-position: 112px -77px;


}

.rightbtn ul{
	list-style: none;
}
.rightbtn li{

	list-style-type:none;

	display: block;

	margin-top:10px;

	border-radius:5px;

	background: #088dc2; /* Old browsers */

	background: -moz-linear-gradient(top,  #088dc2 0%, #088dc2 50%, #177ea8 51%, #177ea8 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#088dc2), color-stop(50%,#088dc2), color-stop(51%,#177ea8),

	color-stop(100%,#177ea8)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #088dc2 0%,#088dc2 50%,#177ea8 51%,#177ea8 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #088dc2 0%,#088dc2 50%,#177ea8 51%,#177ea8 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #088dc2 0%,#088dc2 50%,#177ea8 51%,#177ea8 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #088dc2 0%,#088dc2 50%,#177ea8 51%,#177ea8 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#088dc2', endColorstr='#177ea8',GradientType=0 ); /* IE6-9 */

}

.rightbtn li:hover{

	list-style-type:none;

	text-decoration:none;

	background: #177ea8; /* Old browsers */

	background: -moz-linear-gradient(top,  #177ea8 0%, #177ea8 49%, #088dc2 50%, #088dc2 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#177ea8), color-stop(49%,#177ea8), color-stop(50%,#088dc2),

	color-stop(100%,#088dc2)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #177ea8 0%,#177ea8 49%,#088dc2 50%,#088dc2 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #177ea8 0%,#177ea8 49%,#088dc2 50%,#088dc2 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #177ea8 0%,#177ea8 49%,#088dc2 50%,#088dc2 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #177ea8 0%,#177ea8 49%,#088dc2 50%,#088dc2 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177ea8', endColorstr='#088dc2',GradientType=0 ); /* IE6-9 */

}


.rightbtn li a{
	margin-bottom: 7px;
	padding: 8px;
	font-size: 16px;
	color: #ffffff;
	background-image: url(../images/iconsprite.png);
	background-repeat: no-repeat;
	display: block;
}
.testimonials{
	box-shadow: inset 0 0 12px #8e5d25;
	border: 1px solid #e9ac65;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: linear-gradient(to bottom, rgba(240,174,98,1) 0%,rgba(240,174,98,1) 49%,rgba(205,147,80,1) 51%,rgba(205,147,80,1) 100%);
}
.testimonialstitle{
	padding: 6px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
.testimonialsbox {
	min-height: 200px;
	padding: 4px;
	font-size: 10px;
	color: #FFFFFF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 1px solid #014065;
	border-left: 1px solid #014065;
	border-bottom: 1px solid #014065;
}


.featured{
	border: 3px solid #0c3246;
	background-color: #0c3246;
	border-radius: 5px;
	padding: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.featuredTitle{
	margin: 0px;
	min-height: 35px;
	border-radius: 4px;
	background: url(../images/inventorybar.jpg) 0 0 repeat-x;
	padding-left: 8px;
	padding-top: 10px;
	font-size: 14px;
	color: #a0b1b7;
}
.featuredbody {
	font-size: 12px;
	color: #FFFFFF;
	padding: 10px;
}
#homeFeaturedCars{
	padding-bottom: 10px;
}
#homeFeaturedCars span.price {
	font-weight: bold;
	display: block;
	color: #000000;
	text-align: center;
}
#homeFeaturedCars .thumbnail {
	text-align: center;
}
#homeFeaturedCars .carousel-control.left {
	left: -18px !important;
}
#homeFeaturedCars .carousel-control {
	top: 50%;
	height: 11%;
	width: 6%;
	font-size: 18px;
	background: none;
	filter: none;
	opacity: 1;
	text-shadow: initial;
}


.Footer{
	background-color: #1c4c6a;
	border-radius: 5px;
/*	margin: 0 0 35px;	*/
}
.links{
	font-size: 10px;
	color: #fff;
	margin-top: 5px;
}
.links a{
	color: #fff;
}
.links a:hover{
	color: #cd9350;
}
.flogo{
	text-align: right;
}

@media(max-width: 767px){
	
	.topTxt img{
		display: inline;
		max-width: 100px;
		margin: 0 auto;
	}
	.topTxt{
		text-align: center;
	}
	.address{
		text-align: center;
	}
	.mobileCallUs{
		background: #ce9351;
		margin: 0 auto;
	}
	.mobileCallUs a{
		color: #FFF;
	}
	.callUs{
		background: #1a6d99;
		border: 1px solid #000000;
		padding: 8px 10px;
		width: 100px;
		float: left;
		margin: 8px 0 0 10px;
		border-radius: 5px;
		font-size: 12px;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	.navbar-toggle .icon-bar {
		background: #1a6d99;
		border: 1px solid #1a6d99;
	}
	.navbtn-xs {
		padding: 5px;
		background: #005886;
	}
	.navbtn-xs ul{
		margin: 0;
		padding: 0;
	}
	.navbtn-xs ul li {
		border: 1px solid #03a0fd;
		margin: 2px;
		list-style-type: none;
		border-radius: 4px;
		background: linear-gradient(to bottom, #088dc2 0%,#088dc2 50%,#177ea8 51%,#177ea8 100%);
	}
	.navbtn-xs ul li a {
		margin-right: 10px;
		display: block;
		padding: 7px 10px;
		font-size: 16px;
		font-weight: bold;
		color: #ffffff;
	}
	.navbtn-xs ul li a:hover{
		text-decoration: none;
	}


	.links{
		text-align: center;
	}
	.flogo{
		text-align: center;
	}
	
	.header{
		border-radius: 0;
		margin-top: 10px;
		margin-right: 0px;
	}
	.pageContent{
		margin-right: 14px;
		margin-left: 14px;
	}
	.mainImage{
		margin-right: 0px;
		margin-left: 0px;
	}
}